[2019-03-15 09:58] swallat opened #2 "Python context retains imported modules after reset"
From @devhoffmann: To reproduce: import some python module via the code editor widget and call an included function run the snippet comment out the import statement run the snippet

Outcome: Although the module is not imported the second time, it is somehow still loaded by pybind and no error is thrown

@swallat: we should take a look at this

[2019-03-15 09:58] swallat opened #3 "Save as button for the Python Script"

[2019-03-15 10:00] swallat opened #4 "ANSI/IEEE Std 91/91a-1991 Symbols for the gates"
From Christian Kison:
The idea is to replace standard gates with their corresponding ANSI symbol.
E.g. https://de.wikipedia.org/wiki/Datei:Logic-gate-and-us.svg AND GATE
First of all this helps ASIC reversing. Secondly, this might turn out to be an good orientation-helper. Recognizing a place with like 5 XORS is easier, compared to seeing rectangles everywhere. (Its the same for the IDA graph view

[2019-03-15 10:02] swallat opened #5 "GUI file open dialog: Last file in list not readable"
From Adrian:
GUI File Open Dialog Letzte Datei in Liste nicht lesbar

From @devhoffmann:
This seems to only happen on macOS (MUHAHAHAHAHA)

[2019-03-15 10:06] swallat opened #6 "Parse verilog with preplacement"
From Christian Kison:
Instances in verilog files like the example below (CLK_BUF_X3_0) are not parsed correctly, with our without the Parameters given. The PosX/PosY are meant for the layout to have a preplacement. I am coming from a placed and routed chip.

[code]
See NANDGATE_45NM.yaml

@Christian Kison: We need test designs for that.

[2019-03-15 10:08] swallat opened #7 "Close Document in GUI not working"
I'll try to eventually fix it, but don't know when I can come to this. So if anyone else has some time to spare, please feel free to take care of it.

From @Adrian:
Das Schließen eines Dokuments bzw der gesamten Gui ist leider wesentlich aufwändiger als man vllt vermuten würde und setzt (zumindest für eine vollständige implementierung) einen haufen kram vorraus der aktuell schlichtweg noch nich da

[2019-03-29 11:26] nils1603 opened #13 "Error when loading graph_algorithm_py in GUI"
[29.03.2019 12:19:12] [core] [error] [/Users/eve/Uni/Projekte/hal/src/core/library_loader.cpp:44] cannot load library '/Users/eve/Uni/Projekte/hal/cmake-build-release/lib/plugins/graph_algorithm_py.so' (error: dlopen(/Users/eve/Uni/Projekte/hal/cmake-build-release/lib/plugins/graph_algorithm_py.so, 9): Symbol not found: __ZN22plugin_graph_algorithm13get_graph_cutENSt3__110shared_ptrI7netlistEENS1_

[2019-04-05 07:19] #13 closed, assigned to swallat

[2019-05-02 17:55] RenWal opened #46 "Python functions cannot access imports and global objects"
In this code snippet:

[code]

The call inside the function throws a NameError. The same holds for accessing global variables. That includes functions, meaning you can't access a function from within a function.

[2019-05-03 16:36] swallat commented on #46
Do you call it via the python shell or the editor?

[2019-05-03 17:38] RenWal commented on #46
This happens for me in both the shell and the editor:

[code]

[2019-05-03 19:08] RenWal commented on #3
#50 could be what you're looking for.

[2019-05-06 11:30] RenWal commented on #46
This is a workaround for the issue:

[code]

Forcing imports (or functions or variables) to be global allows read access. However, in Python `global` should only be needed for write access to global objects, not for read access.

[2019-05-08 08:16] RenWal commented on #3
Merging of #55 should close this issue,

[2019-05-10 11:22] swallat opened #62 "Python Editor No auto-scrolling"
No autoscrolling when hitting enter repetitively in Python editor.

[2019-05-10 11:24] swallat opened #63 "Save Python Editor error does not display message or log_error"
See src/gui/python/python_editor.cpp:398

[2019-05-10 11:28] swallat opened #64 "Python Editor does not use path of script"
It just saves the content of the editor. Need to update editor content for reloading when saving the python editor. Suggestion save file path to continue work on file for the next start.

[2019-05-10 11:29] #3 closed

[2019-05-10 11:31] swallat commented on #46
@devhoffmann I think we should address this issue soon. I'll later take a look on this issue but might need some help.

[2019-05-10 12:14] RenWal opened #65 "Feature: In the navigation list, enable use of arrow keys"
Currently, arrow keys do nothing in the navigation view. For easier navigation, allow use of the up and down arrow keys.

[2019-05-10 12:18] RenWal opened #66 "Feature: Synchronize selection and color of modules in navigation and netlist"
It is currently hard to see which module color belongs to what name. I suggest the following additions:

- set the color of the module name in the navigation (or show a colored icon next to it) with the color of the module in the netlist graph.
- when clicking a module name in the navigation, highlight all gates in that module in the netlist graph.

[2019-05-10 12:20] RenWal opened #67 "Feature: Allow manual selection of module colors"
HAL sometimes selects two colors very close to each other when creating many modules, making the different modules hard to see. I suggest a manual override for that color by:

- passing the color in the python command for creating a module
- right-clicking on a module in the navigation view

[2019-05-10 12:24] RenWal opened #68 "Prompt before closing with unsaved changes"
One can currently simply close the HAL main window with an unsaved netlist and/or unsaved python script, discarding those changes. There should be a warning message before actually quitting and discarding unsaved files.

[2019-05-10 14:15] swallat commented on #46
I think I have fixed the issue. We still need to test it before we release it again. @nils1603 could you maybe test the projects again with this new version?

[2019-05-10 14:25] #46 closed

[2019-05-13 11:17] RenWal opened #71 "HAL eats full CPU on one core to paint some QT elements"
After some time, HAL starts to consume 100% CPU on one core. Attaching a debugger yielded this call stack at the moment of stopping the offending thread.

[code]

[2019-05-13 11:29] RenWal commented on #65
This seems to be a bug. See this snippet:
https://github.com/emsec/hal/blob/03c7df6d9d370e031842841ca9635f24c1380cb4/src/gui/graph_navigation_widget/graph_navigation_widget.cpp#L39
I'm not sure why this is there, but I assume it is because this is a `content_widget` that encapsulates a `QTreeView`. However, disabling focus also disables all key bindings, which seems to also disable the key binding

[2019-05-13 12:14] RenWal commented on #62
Turns out QT can do this automatically, the feature `ensureCursorVisible` just needs to be enabled.

[2019-05-13 13:24] #62 closed

[2019-05-14 07:03] devhoffmann commented on #65
Agreed, this can be changed.
However the whole navigation list will be removed/replaced soon by a tree-like view

[2019-05-14 08:23] swallat commented on #65
@Slowpoke42 Could you respond to this?

[2019-05-14 08:34] swallat commented on #71
@RenWal Could you elaborate a bit more on when this issue occurs?

[2019-05-14 19:31] RenWal opened #75 "Search Bar in python editor is non-functional"
Pressing [Ctrl+F] in the Python editor pops up a search bar at the bottom of the editor. That search bar is not automatically focused and does not seem to have any functionality, i.e. you can't search anything with it.

[2019-05-14 19:35] RenWal commented on #71
So far this looks rather random to me (which is not really helpful). I'll report back if I can pinpoint an exact action that triggers this.

[2019-05-14 21:08] Slowpoke42 commented on #71
@RenWal Don't bother. If the problem is related to the current graph view it's likely not worth your time, because I'm currently rewriting that feature from scratch. The graph view classes used in the master branch (layouters, items, scene, view and widget) are essentially obsolete and serve more of a placeholder function. In the unlikely event that this problem is still present in the new version

[2019-05-14 21:47] Slowpoke42 commented on #65
Yeah you can throw it out if you want, but as @devhoffmann mentioned the current navigation is largely obsolete and improvements made to it will likely be deleted with it.

Thank you for pointing this out anyway, keep it up :)

[2019-05-14 22:06] Slowpoke42 commented on #66
I'm currently in the process of rewriting both the navigation and the graph view. The new versions will include these features :)

[2019-05-14 22:06] #66 closed

[2019-05-14 22:49] RenWal commented on #65
Had this locally anyway, here you go.

[2019-05-15 04:46] swallat commented on #71
I'm closing this issue for now.

[2019-05-15 04:46] #71 closed

[2019-05-15 04:49] #65 closed

[2019-05-16 08:22] RenWal opened #78 "Feature: Expose gate init string in Python"
For many tasks one needs to extract the truth table of a gate. Currently, the BDD must be extracted via a gate decorator and then evaluated to build the truth table.
However, the entire truth table is already present in the VHDL code in form of the init string of all LUT gates. I suggest exposing the init string as a property of each gate to simplify the process of truth table extraction.

[2019-05-16 12:03] swallat commented on #2
Fixed with #46

[2019-05-16 12:03] #2 closed

[2019-05-22 15:35] RenWal opened #85 "Naming of insertion methods in Python class "module" inconsistent"
The Python class "module" contains the methods `insert_gate` and `add_net`. This is unintuitive, so I suggest renaming one of the two methods.

[2019-05-22 15:41] RenWal opened #86 "Feature: Add option "show only this module" in graph view"
Suggestion for the dev working on the new graph view (if this is not already planned):

When working with large netlists where a functional unit (e.g. an FSM) is spread out across the entire graph, it is often hard to figure out how the components interact. I suggest adding a toggle "show only the selected module" that takes all gates and nets in the module (selected in the navigation list) and la

[2019-05-22 15:55] RenWal opened #87 "Feature: Working with net parts"
Currently only whole nets can be selected and added to modules. This can cause cluttered module views.

Minimal example: In VHDL, create a small FSM from a FlipFlop and an inverter and then add 20 connections from the FF output to other gates. Now, try to add the nets connecting the FF and Inverter to a module. You will end up with a cluttered graph view with all the connections to other gates bec

[2019-05-22 16:02] RenWal commented on #78
This also applies to automatic FSM extraction using init strings of Flipflops.

[2019-05-22 17:11] Slowpoke42 commented on #85
Since the latest rework module membership is no longer optional. Every gate / net is part of one and only one module at all times. Inserting a gate / net into a module is consequently synonymous with removing it somewhere else. The current interface does not communicate this behavior to the user. Maybe a different verb like "move" or "relocate" would be more fitting.

[2019-05-22 17:44] Slowpoke42 commented on #86
Yup, already working on it. You can check out branch feature/new-graph-views if you want to take a look at it, but its obviously WIP code, meaning most of the components are not finished / connected, so dont expect to see much.

[2019-05-23 07:49] swallat commented on #87
We are currently working on a Cone view, to support that. It should also be included in the branch feature/new-graph-views.

[2019-05-23 07:51] swallat commented on #78
I actually think we could do that. @devhoffmann What do you think?

[2019-05-23 07:57] swallat commented on #85
@Slowpoke42 I think `move_gate` and `move_net` would be good. @devhoffmann What do you think?

[2019-05-23 07:57] swallat commented on #78
We could think about including it in the gate details widget, though.

[2019-05-23 08:03] swallat opened #88 "Fix memory management in GUI"
Currently, when closing the GUI we get an error.  I think it has something to do with memory leaks from within the GUI. This also the problem for #7. We should make sure that we have correct memory management in the GUI following the Parent/Child paradigm.

[2019-05-23 08:04] swallat commented on #7
Closing in favor of #88.

[2019-05-23 08:04] #7 closed

[2019-05-23 08:38] RenWal commented on #78
Yes, this is what I meant. Is it possible that this feature is currently undocumented?

[2019-05-23 08:51] devhoffmann commented on #78
The feature is not really undocumented...
The problem is that for example ASIC netlists do not contain INIT values.
Hence we needed a mechanism to store additional information for arbitrary architectures.
We decided to have all our netlist elements inherit from a data container class which offers this `data` field in python.
In the end, all additional (i.e., non generic) information is stored in t

[2019-05-23 08:51] devhoffmann commented on #85
I suggest going for `assign`

[2019-05-23 08:55] swallat commented on #85
Hm, `assign` is better. It makes sure that we add the net or gate to the current module. `move` alone does not make clear where we move the gate or net.

[2019-05-23 09:56] swallat commented on #78
Should we add an example in the python documentation?

[2019-05-23 09:58] swallat commented on #78
Hm `get_data` is missing in the python documentation.

[2019-05-23 16:27] Slowpoke42 commented on #67
Part of the graph view rework in branch feature/new-graph-views

[2019-05-23 16:50] Slowpoke42 commented on #6
I'm not certain if this is actually a parsing problem, because the GUI doesnt have a layouter that takes preplacement into account yet. If it is in fact a parsing problem, please label this issue accordingly, if the parsing works correctly and its just a missing GUI feature please close this and create a new addition issue

[2019-05-24 15:50] FabianAlbertRub opened #90 "List of issues found while testing"
List of issues found while testing:
- netlist/netlist::is_module_in_netlist: only checks the id not the pointer. Therefore we can pass modules with the same id, that aren't part of the netlist anymore to get a false  or pass a nullptr, which results in a segmentation fault.

- netlist/module::set_name: does not check whether the passed name is the empty string. At the other hand, the create_module

[2019-05-24 17:33] Slowpoke42 commented on #90
Hey, thanks for the report. Two minor problems:
First, unless your set of issues is inseparably linked and should only be discussed / solved together please open a new github issue for every single one of them. I know it's tedious but it's just much easier for us to organize and keep track of them.
Second, please give your issues descriptive names. That is obviously easier if an issue only contain

[2019-05-28 19:15] RenWal commented on #68
Fixed in #91

[2019-05-28 19:52] dertob commented on #68
Although the code itself is present, the closing prompt for unsaved python scripts does not appear due to the current development of the branch feature/python_editor_tabs which adds functionality to check if python files have been modified. I suggest reopening the issue to indicate that's the case and close it after the python tabs have been integrated.

[2019-05-29 08:03] swallat commented on #90
I agree with @Slowpoke42. Could you split it in individual issues?

[2019-05-29 08:07] swallat commented on #6
@Slowpoke42 As far as I know this is a parsing problem. The problem is, that we don't have any example netlist, to actually see what exactly is the problem here.

[2019-05-29 08:43] #85 closed

[2019-05-29 10:07] swallat opened #96 "netlist/netlist::is_module_in_netlist"
netlist/netlist::is_module_in_netlist: only checks the id not the pointer. Therefore we can pass modules with the same id, that aren't part of the netlist anymore to get a false or pass a nullptr, which results in a segmentation fault.

[2019-05-29 10:08] swallat opened #97 "netlist/module::set_name: does not check whether the passed name is the empty string"
netlist/module::set_name: does not check whether the passed name is the empty string. At the other hand, the create_module function (of the netlist) does not allow the empty string.

[2019-05-29 10:09] swallat opened #98 "netlist/netlist_internal_manager::create_module: The module created by the create_module, may have a parrent owned by another netlist"
netlist/netlist_internal_manager::create_module: The module created by the create_module, may have a parrent owned by another netlist

[2019-05-29 10:09] swallat commented on #90
Closed in favour of #96 #97 #98

[2019-05-29 10:09] #90 closed

[2019-05-29 12:29] #78 closed

[2019-05-29 17:10] RenWal opened #101 "Endless Python loops hang the GUI [fixed in new HAL version 4.0]"
**Describe the bug**
Writing an endless loop (by accident) will block the HAL user interface. There is currently no way to cancel a running script or console command besides killing HAL.

**To Reproduce**
1. Write a `while 1: pass` loop in the Python editor
2. Click run

**Expected behavior**
The GUI should remain responsive and the run button should turn into a stop button to allow manual termina

[2019-05-30 15:01] RenWal opened #102 "Python input() expects data on wrong console [fixed in new HAL version 4.0]"
**Describe the bug**
Calling `input()` in either the Python console or editor locks up the GUI (see #101) and one can't type their input into the console as they would expect from the behavior of the standard python interactive shell. However, if HAL is started from a command line, typing something in that terminal and pressing [Enter] will pipe your input into the Python script.

**To Reproduce**

[2019-05-31 10:50] RenWal commented on #101
This currently also means one can't print progress messages to the HAL Python console while a script is running.

[2019-05-31 11:24] nils1603 opened #105 "VHDL writer writes single bits wrong"
FDRE_0 : FDRE
  generic map(
   INIT => X"0"
  )
 port map (
   C => signal_0,
   CE => signal_104,
   D => signal_12,
   R => signal_103,
   Q => signal_99
);

has to be... INIT => '0'

might be an error in the parser?

[2019-05-31 11:30] nils1603 commented on #105
Error is in Verilog parser. is not read as a bit value

[2019-05-31 12:17] Slowpoke42 commented on #101
The reason the python context is run in the main thread is pretty simple:
Netlist access is currently not threadsafe. Running the python context in another thread could consequently result in data corruption / access violations / etc. The same goes for plugins and anything else that might access the netlist. Cannot be threaded currently. I've actually raised this issue multiple times already, but

[2019-06-02 10:53] RenWal opened #106 "Netlist parsing failures don't trigger an error dialog"
**Describe the bug**
If deserialization fails with all gate libraries when opening a file from the welcome screen, no error message is shown and the GUI simply stays on the welcome screen.

**To Reproduce**
1. Start HAL from terminal
2. Open a file that is not parseable with any installed gate library
3. See that nothing happens
4. Look in the terminal and see that parsing failed with all librarie

[2019-06-03 07:47] swallat commented on #101
@RenWal I see your point. We should make the data model thread and probably multiprocess safe. This would also allow us to run an analysis on a multi-node structure to increase performance. We should think about doing that in the near future.

[2019-06-03 07:50] swallat commented on #102
If this is an issue, we could override the python function to allow this behavior. Could you give us an example where you used it?

[2019-06-03 07:52] swallat commented on #106
I agree we should make error messages more visible.

[2019-06-03 07:52] devhoffmann commented on #101
Thread safety will surely have negative performance impacts, which can be partially circumvented with shared_mutex.
The problem I see is not introducing thread safety, but testing it...

[2019-06-03 07:54] swallat commented on #101
@devhoffmann What do you mean by testing it?

[2019-06-03 07:55] devhoffmann commented on #101
How to make sure that all race conditions are gone, that there are no deadlocks, etc.

[2019-06-03 08:04] RenWal commented on #102
[code]

Of course this is constructed and doesn't really have much practical use, but it demonstrates what I want do be able to do. Especially if you have larger scripts, some interactivity is nice, e.g. to select which analysis steps to execute.

[2019-06-03 20:35] RenWal opened #108 "Pressing [Insert] in the Python editor should toggle overwrite mode."
**Is your feature request related to a problem? Please describe.**
Most other editors have an insert and an overwrite mode. This is currently not implemented in the HAL Python editor.

**Describe the solution you'd like**
Add a toggle between insert and overwrite mode bound to the [Insert] key.

**Describe alternatives you've considered**
None

[2019-06-03 20:41] RenWal opened #109 "Use numerical instead of alphabetical order in the navigation view"
**Is your feature request related to a problem? Please describe.**
Gates in the navigation tree are currently sorted strictly by alphabetical order. This causes sort orders like this:
`LUT_1 LUT_10 LUT_11 LUT2 LUT3 [...]`
whereas the more "natural" sort order would be:
`LUT_1 LUT2 LUT3 [...]  LUT_10 LUT_11`

**Describe the solution you'd like**
The sorting algorithm should detect numbers at the sa

[2019-06-03 20:49] RenWal opened #110 "Memory leak by design in the console and log"
**Describe the bug**
Both the Python console and the log have infinite scrollback. This causes high memory consumption of a few tens to hundreds additional MB when you leave HAL running for a long time (I like to have the tool in a VM and just hibernate that VM, i.e. HAL is never closed) or you print an insanely large amount of data from your Python script.

**To Reproduce**
1. Leave HAL open long

[2019-06-04 16:14] RenWal opened #112 "Feature: Reset netlist to initial state from Python"
**Is your feature request related to a problem? Please describe.**
Currently, when modifying a netlist from Python there is no easy way to undo that change.

**Describe the solution you'd like**
I suggest adding a method like `netlist.reset()` (or "restore" or "reload", whatever fits your terminology) that discards all changes made to the netlist since loading, restoring it to its original state.

[2019-06-06 09:05] #68 closed

[2019-06-06 09:16] swallat commented on #102
Ah ok. We might be able to do that by reimplementing the input function within our library. We do basically the same to catch the python output. Though, I might not be sure, if we are able to that without blocking the complete GUI.

[2019-06-06 09:30] swallat commented on #6
Another example would be:

[code]

[aes_jun.v.zip](https://github.com/emsec/hal/files/3260933/aes_jun.v.zip)

[2019-06-06 19:20] dertob commented on #106
If I see correctly there are only a few errors that can occur before a file has been loaded and therefore can not be displayed in the GUI's logger. **I suggest to simply display a message box containing the error message if it's one of these few cases.** All the other errors messages after successfully opening a file should be visible in the GUI's logger with no problem.

In the future we can disc

[2019-06-11 08:24] #108 closed

[2019-06-11 08:27] swallat commented on #106
For a quick fix, I would agree with your solution. Anyway, we should think about a better error notification system soon. @dertob Do you take care of the quick fix?

[2019-06-11 10:25] dertob commented on #106
@swallat Yeah, I'll take care of the quick fix.

[2019-06-11 12:16] swallat commented on #110
The logger is actually restricted to a maximum of 1000 blocks. @RenWal Can you give us such a large script you use?

[2019-06-11 13:01] swallat commented on #110
I've just added the maximum block count for the python console as well. @RenWal Does it have an impact for you?

[2019-06-12 18:08] #63 closed

[2019-06-12 18:08] #75 closed

[2019-06-13 07:58] swallat commented on #97
@devhoffmann Is this already fixed? (see your commit: 398f727553caa594e67c98448e2ee56b1b2975dc)

[2019-06-13 08:02] #96 closed

[2019-06-13 08:12] swallat commented on #105
@nils1603 Do you have a specific netlist to use for testing?

[2019-06-13 08:24] #98 closed

[2019-06-13 09:10] swallat commented on #106
@dertob Do you think you finish this today, or more likely later. In other words, do you complete it in time for today's release?

[2019-06-13 09:35] dertob commented on #106
Unfortunately I have no time at all to deal with the issue this week. @swallat

[2019-06-13 09:40] swallat commented on #106
@dertob No problem. Thanks for the info.

[2019-06-13 12:58] devhoffmann commented on #97
Indeed already fixed.

[2019-06-13 12:58] #97 closed

[2019-06-13 13:01] devhoffmann commented on #88
@swallat Any steps to reproduce this? I dont get any error

[2019-06-13 13:02] devhoffmann commented on #64
Will be fixed with the upcoming new save structure

[2019-06-13 13:25] swallat commented on #88
@devhoffmann Open the Gui -> Open a netlist -> Close the GUI -> Exit Code != 0. Thats what I mean by error.

[2019-06-13 13:35] nils1603 commented on #105
error occurs in any Verilog library when a single bit is read to a bit vector

[2019-06-14 13:08] todo[bot] opened #122 "new icon"
https://github.com/emsec/hal/blob/6de9cd48624a266eafba152f52e7ea72f1a2b155/src/gui/python/python_editor.cpp#L53-L58

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6de9cd48624a266eafba152f52e7ea72f1a2b155 when #120 was merged. cc @emsec.

[2019-06-14 13:27] swallat commented on #64
Fixed in #120

[2019-06-14 13:27] #64 closed

[2019-06-14 20:23] RenWal commented on #110
I can still see some memory consumption but the rate has decreased a lot.

This is my test case: `print('12345\nA'*1000)`
When loading this into the editor and hitting run 100 times (do not use a loop), I can see an increase of the resident set size by about 68.6MiB in the unpatched and about 2.4MiB in the patched version.

Note that in this case, the console reaches the block limit but the log do

[2019-06-14 20:35] RenWal commented on #122
That was a todo I left in there from when I submitted #55. If you think the current "Save As" icon in the Python editor is fine, you can close this.

[2019-06-17 09:58] swallat commented on #110
@Slowpoke42 could you take a look on this?

[2019-06-17 10:03] swallat commented on #122
Thanks for the Info. I removed the todo.

[2019-06-17 10:03] #122 closed

[2019-06-18 07:56] #88 closed

[2019-06-18 08:58] swallat opened #124 "Empty VHDL Port Map crashes HAL"
**Describe the bug**
When parsing an incorrect VHDL netlist, with empty port maps of gates HAL crashes.

**Expected behavior**
hal should print an error and continue working.

[2019-06-18 08:59] swallat commented on #124
@devhoffmann What would you suggest? Error message or crash?

[2019-06-18 09:02] swallat opened #125 "HDL Writer prints empty port map if all ports are unconnected"
**Describe the bug**
When we add a gate to HAL and don't connect its pins HAL writes an invalid netlist with an empty port map.

**Expected behavior**
Either write `UNCONNECTED` as the assigned net or stop the writing altogether.

**Additional context**
Can occur in combination with #124

[2019-06-18 09:53] devhoffmann commented on #124
I think we should depend on correct input, i.e. on any error we abort parsing and return a nullptr which will result in an error message.

[2019-06-18 09:54] devhoffmann commented on #125
AFAIK only output pins can be unconnected (we should do that) but input pins must have a net assigned.
In that case the writer should throw an error

[2019-06-19 12:02] swallat commented on #105
Hm, we are probably not able to fix this in HAL. Verilog does not provide a data type for a single bit. So the parser actually works correctly. We might be able to do postprocessing in the writer, but we would need to do that based on the gate type. So we cannot fix it for now.

[2019-06-19 12:03] #105 closed

[2019-06-19 14:36] #106 closed

[2019-06-21 18:37] FabianAlbertRub opened #134 "plugin_manager.cpp crashes while loading already unloaded plugins"
**Describe the bug**
If we load a plugin, unload it and load it later again, the plugin_manager crashes with a segmentation fault in src/core/plugin_manager.cpp l. 163

**To Reproduce**
Steps to reproduce the behavior:
for example:
[code]

**Expected behavior**
It should not crash I guess ;P

**Additional Information**
The crash occurs in line 163 of src/core/plugin_manager.cpp:
[code]
I think the

[2019-06-21 18:54] FabianAlbertRub opened #135 "Remove operator<< in gate.cpp and net.cpp?"
In src/netlist/gate.cpp and src/netlist/net.cpp we have still the `operator<<` function. Since you can't reach them from other files (there is no declaration in the header), I would suggest to remove them. What do you think?

[2019-06-23 20:56] ChuTriel opened #136 "recent-file-item stays after deleting / moving a file and then try to open it"
**Describe the bug**
After moving/deleting a .vhd or .hal file that is listed in the recent files widget and you try to open it via the recents file widgets again, hal opens a dialog that says it could not open the file, yet the item remains in the list. It is also currently not possible to remove an item from the list. It is possible that the list gets infinitely big.

**To Reproduce**
1. Open a

[2019-06-24 07:53] RenWal commented on #136
I suggest we simply check whether the file exists on startup and flush any entries from the list that do not exist on disk. If we further limit the recent files list to, let's say, 20 entries, this should not incur a significant slowdown of the startup process.

[2019-06-24 09:57] swallat commented on #135
@devhomann Can we remove this, or do we need it somewhere?

[2019-06-24 13:19] ChuTriel commented on #136
Thats certainly one way of doing it, yet when you look at other project-based applications such as Visual Studio, PyCharm etc the entrys stay and you will be notifed that it is missing when you try to open the project. Your suggestion should not result in a noticeable delay when you start the gui. I will look further into this.

[2019-06-24 14:09] RenWal commented on #136
To be honest, I find the way VS deals with defunct recents utterly annoying. I don't want to be offered "here, I remembered this file for you", click it and then be told "whoops, it's gone". If we really, really want to keep the list intact (i.e. not automatically purge entries) then I'd suggest disabling these entries (make them unclickable and change their color) so the user experience is fluent

[2019-06-24 14:10] swallat commented on #136
I think it is also better when it stays in the list but is marked as missing. Consider following situation:

1. You delete your cloned repo with all netlist and Hal files in it. It might have. Even corrupted and you need to reclone the folder.

2. You Start HAL for another netlist.

3. After that you remember to clone the repo and continue your work. Here it would be nice to directly open your net

[2019-06-24 14:21] ChuTriel commented on #136
Alright, sounds plausible.

[2019-06-26 09:23] RenWal opened #138 "Saved .hal projects are not added to the recent file list"
**Describe the bug**
When opening a .vhd netlist for the first time and then saving it, HAL does not write to that file but creates a .hal project file. However, this file is not added to the recent files list in the startup view. Only the .vhd file is added.

A user who does not know that HAL projects work this way will most likely click the .vhd file from the recent files list. Of course, all ch

[2019-06-26 09:37] RenWal opened #139 "Python editor should detect externally modified scripts"
**Describe the bug**
The Python editor currently does not monitor the file on disk, meaning if you modify the file in another editor (or you have it in, say, a git repository and pull in some commits) and then click the save button in HAL, the external changes are lost.

Most IDEs can do this, so this will probably be unexpected for most users.

**To Reproduce**
1. Create a Python script in HAL an

[2019-06-26 09:41] RenWal opened #140 "Python editor should not open the same file in multiple tabs"
**Describe the bug**
In the Python editor, multiple tabs can be opened with the same file. This causes a similar issue as #139 because the editor does not synchronize those tabs. If you change something in one tab and save, then the other tab will not reflect this change. The user can thus easily overwrite their own file by accidentally opening it twice and forgetting which tab they worked in.

**

[2019-06-26 09:44] RenWal opened #141 "Multi-selection in Python editor file chooser"
**Is your feature request related to a problem? Please describe.**
Opening more than one file in the Python editor can be tedious because the file chooser dialog must be used for each file separately. The file chooser also does not remember the last location, meaning the user must navigate to their files every time.

**Describe the solution you'd like**
The file chooser should allow selecting more

[2019-06-26 09:49] RenWal opened #142 "Add a save-all button in the Python editor"
**Is your feature request related to a problem? Please describe.**
For large projects, if you want to quit HAL you need to click all Python tabs separately to save their changes. If you need to restart HAL often, then this is annoying.

**Describe the solution you'd like**
I suggest adding a save-all button to the Python editor that simply saves all tabs with unsaved changes at once.

**Describe a

[2019-06-27 00:22] dertob commented on #142
Me and @ChuTriel are aware of this problem and we are actually already discussing how to implement this in a meaningful way. We definitely want to avoid the file chooser dialogs to open and the warnings for the python tabs when closing HAL. That's just annoying tbh. We were thinking about autosaving the contents of the python editor in a temp file after closing and reloading them on startup. Just

[2019-06-27 08:51] devhoffmann opened #143 "Modules should only have gates associated, not nets"
**Is your feature request related to a problem? Please describe.**
After internal discussion it makes more sense that modules only contain gates, nets are handled implicitly.

**The solution we will implement**
We will revert back to the netlist handling all nets and only keep the gates inside modules.
In addition gates will now the module they are in for faster access.

[2019-06-27 09:05] devhoffmann opened #145 "Global change state for GUI"
**Is your feature request related to a problem? Please describe.**
When serializing to a HAL file, widgets do not know that (potential) changes have been serialized. This triggers misleading warning messages on exit.

**The solution we will implement**
There will be a global "state changed" mechanism that widgets can query and set.
Upon serialization it is cleared.

[2019-06-27 09:26] devhoffmann opened #147 "Autosave a shadow state"
**Is your feature request related to a problem? Please describe.**
If the GUI crashes all changes are lost.

**The solution we will implement**
We will add a feature that periodically saves to a "shadow file" which gets deleted upon clean exit.
If such a shadow file exists on load, hal suggests to restore the state from that file instead.

Related to issue #149

[2019-06-27 10:27] #143 closed

[2019-06-27 11:25] devhoffmann opened #149 "GUI should prioritize .hal files"
**Is your feature request related to a problem? Please describe.**
When a project file (.hal) for an input netlist already exists, the GUI should offer loading this file instead.

Related to issue #147

[2019-06-27 19:36] RenWal opened #152 "Python allows setting invalid init strings"
**Describe the bug**
On a LUT6 you should set an init string this way:
[code]
However, doing this also works, meaning you can set init strings of a wrong length:
[code]

This causes all sorts of issues, including plugins that rely on correct config strings not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Take any netlist with a LUT6.
2. Run the second code snippet.
3. See that HA

[2019-06-28 07:53] todo[bot] opened #153 "HANDLE PYTHON CONTEXT SEPARATELY"
https://github.com/emsec/hal/blob/f69fe6795d4d807eeef7f78847ae4cecfe8f21d6/src/gui/file_manager/file_manager.cpp#L73-L78

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f69fe6795d4d807eeef7f78847ae4cecfe8f21d6 when #151 was merged. cc @emsec.

[2019-06-28 07:53] todo[bot] opened #154 "HANDLE PYTHON CONTEXT SEPARATELY"
https://github.com/emsec/hal/blob/56d3943fd19ca0ac67eb0150079d71d8d7f9c95b/src/gui/file_manager/file_manager.cpp#L73-L78

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 56d3943fd19ca0ac67eb0150079d71d8d7f9c95b. It&#x27;s been assigned to @devhoffmann because they committed the code.

[2019-06-28 07:54] devhoffmann commented on #145
Done.

[2019-06-28 07:54] #145 closed

[2019-06-28 07:54] devhoffmann commented on #147
Done.

[2019-06-28 07:54] #147 closed

[2019-06-28 07:54] devhoffmann commented on #149
Done.

[2019-06-28 07:54] #149 closed

[2019-06-28 07:56] devhoffmann commented on #152
I don't see this as a bug.
HAL does not have any information on the kind of gate and the data map can be used to store arbitrary data.
During parsing, all "unknown"/unused information simply gets put into the data map and for LUTs/FFs this happens to be the init string.
If the user makes a mistake at this part, it is his fault...

[2019-06-28 08:19] #153 closed

[2019-06-28 08:19] #154 closed

[2019-06-28 08:21] devhoffmann commented on #138
fixed in #151

[2019-06-28 08:21] #138 closed

[2019-06-28 08:32] devhoffmann commented on #140
pull request #155

[2019-06-28 08:35] devhoffmann opened #156 "VHDL parser should be able to parse a netlist that is not flattened"
**Is your feature request related to a problem? Please describe.**
With the availability of modules, the vhdl parser should be able to parse a netlist with hierarchy.

**The solution we will implement**
All entities are parsed separately before inserted into the top entity as modules.
Signal names on inputs/outputs can be taken from the parent entity, internal signals are prefixed with the entity

[2019-06-28 11:12] swallat commented on #156
I strongly support this feature.

[2019-06-28 11:16] swallat commented on #152
Do we have a way to set new data via the decorator? If not, we should add a function there. Furthermore, I would agree with @devhoffmann. `set_data` is a function to append arbitrary data to a gate.

[2019-06-28 11:19] #140 closed

[2019-06-30 14:58] dertob opened #157 "Global content manager tracking is faulty"
**Describe the bug**
The global content manager doesn't track python tabs correctly. Depending on the position of the tab in the bar the script gets wrongly identified as saved or unsaved. This leads to wrong notifications popping up and eventual loss of data.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 2 python script tabs in the editor e.g. 'a.py' and 'b.py'
2. Fill both tabs with

[2019-06-30 15:27] dertob commented on #139
Detection of externally modified, moved or deleted scripts is working in this branch. The user is presented with the choice to reload a file from disk or ignore the external changes.

The only thing missing in this feature is that tabs need to be marked as modified as soon as

1. the modification on disk gets ignored by the user.
2. the script has been moved on disk.
3. the script has been deleted

[2019-07-01 08:34] dertob commented on #141
Added in #158.

[2019-07-01 08:34] #141 closed

[2019-07-01 11:02] nils1603 commented on #152
Agreed. Not a bug, but a feature that - depending on the library - might have use.

[2019-07-04 10:40] #136 closed

[2019-07-05 14:10] devhoffmann commented on #156
Update: The feature is basically done in its respective feature branch.
It now needs testing.

[2019-07-05 17:05] FabianAlbertRub opened #161 "bugs and unnecessary code parts in hdl_writer/hdl_writer_vhdl.cpp"
- the if-block in l. 67:
`if (std::all_of(net_temp.begin(), net_temp.end(), ::isdigit)) {...}`
can't be entered, since the `get_net_name` function already adds the "NET_" prefix to a net with only digits.

- consider the following lines of code (l. 372 ff.):
[code]
   The second if block can not be entered, so generic time data will not be handled correctly

- the function `get_port_name(std::stri

[2019-07-05 17:20] FabianAlbertRub opened #162 "bugs in the set_parent_function in src/netlist/module.cpp"
Some small bugs in `bool module::set_parent_module(const std::shared_ptr<module>& new_parent)`:
1. Consider lines 52 ff:
[code]
Shouldn't it be something like `if (new_parent == this) {...}`?

2. The function does not check if `new_parent` is a `nullptr`.
3. `new_parent` may not be part of the netlist (a deleted module or from another netlist) (maybe not that critical ;) )

[2019-07-05 19:31] swallat commented on #156
@devhoffmann: Any suggestions how we should proceed?

[2019-07-05 21:40] Slowpoke42 commented on #162
Hey, good find.
1. Seems to be kind of a semi bug. I mean it's technically not wrong to check if the new parent is equal to the current parent, because you can just immediately return in that case and don't need to waste any time on further instructions but you're obviously right that the intended check here is new_parent == this.

Personally I can not see a use case for setting a modules parent t

[2019-07-06 19:15] ChuTriel opened #163 "Additional log entries for studies"
To have a better overview over how hal is used by the user so that certain studies can be carried out more smoothly, the following 2 log categories will be added:

1. Which specific widget the user currently has focus on (details widget, graph view, etc.)
2. Manipulations / selections through python code (e.g. when the user has created, modified, or deleted a gate or any other object that is acces

[2019-07-08 08:57] RenWal opened #164 "Add close-all button in the Python editor"
**Is your feature request related to a problem? Please describe.**
When you experiment with a lot of different scripts and then want to clean up, you need to close every tab manually.

**Describe the solution you'd like**
I suggest adding a close-all button to quickly clean up your workspace.

**Describe alternatives you've considered**
If you don't want to clutter the UI, I would suggest adding a

[2019-07-08 09:08] RenWal commented on #164
If we can agree on whether to use a context menu or a simple button (and with which options) then I can pick this issue.

[2019-07-08 11:56] devhoffmann commented on #157
@dertob What is your status on this? Can you explain your solution strategy?

[2019-07-08 12:44] dertob commented on #157
I think that the existing idea of a global class for tracking changes on files across all widgets is good and more elegant than trying to pass signals through multiple layers. My plan is to implement a new class with the same functionality provided in the current 'content manager'. To fix the issues we have with the current tracking I would equip each instance of the 'python_code_editor' with a uu

[2019-07-08 16:12] Slowpoke42 opened #166 "Discussion: New Navigation Widget"
Because the current navigation widget wasn't really designed for, and as of now doesn't support, hierarchical modules, I am currently in the process of rewriting it from scratch.

As far as I can see there are three distinct approaches for this rewrite.

1. The entire netlist is displayed as a single big tree, with the topmodule as the root and the physical gates (and nets ?) as the leaves. This i

[2019-07-08 16:53] RenWal commented on #166
I like the hybrid approach. If you have ever worked with the Eclipse IDE, it does a similar thing with its project explorer: The project structure is shown as a tree and you can expand infinitely. If this causes too many nested levels or you want to concentrate on a single folder, you double-click it. The folder then becomes the new top-level element and all parents are hidden.

This would provide

[2019-07-08 19:26] Slowpoke42 commented on #166
Yea, I guess using a pure tree structure, but giving the user the ability to redefine the root element (or to hide all other elements) would be another option.

The question is whether or not its the right solution for the use case. When writing code you usually work fairly localized (same file or multiple files in the same directory) for prolonged periods of time. While writing the graph view, fo

[2019-07-09 16:45] #162 closed

[2019-07-10 08:29] nils1603 commented on #161
This reallyyy needs work! We need to write tests. Is there any VHDL parser that could be used to parse our written VHDL again? We could use the parser to write tests!

[2019-07-10 09:32] RenWal commented on #161
Can we implement basic self-testing by looping back our VHDL output to our own VHDL parser?

[2019-07-11 12:23] FabianAlbertRub commented on #161
Yeah, I've already written tests for the writer, based on comparisons with our parsers input(this thread is actually based on my testing observations).
To check the output for every call of the writer may be an interesting idea, but can result in worse run-time (especially for bigger netlists). At the other hand it seems to be a nice idea to feed the tests with more data. Maybe we can discuss this

[2019-07-11 17:39] nils1603 commented on #161
We could do that, but our parser is also excepting VHDL code that is 100% accurate regarding the specification.

[2019-07-12 09:40] #157 closed

[2019-07-12 12:02] nils1603 opened #168 "OpenMP when using clang during cmake"
There is an error that occurs when using clang and OpenMP.

[2019-07-12 15:00] nils1603 opened #169 "Warnings from spdlog"
Can we disable all the warning we get during compilation from spdlog. Its very annoying 🗡

[2019-07-15 12:16] #139 closed

[2019-07-15 12:58] swallat commented on #168
@nils1603 Is this only on mac?

[2019-07-19 08:29] nils1603 commented on #166
The hybrid solution should be the way to go. All gates not in a submodule should be in their own list in the submodule called "Uncategorized Gates"

- TopModule
    -  Submodule 1
          - Subsubmodule 1
    - Uncategorized Gates

All of them should be lists

[2019-07-20 22:00] RenWal commented on #166
I strongly agree on the Uncategorized Gates list and that we should avoid mixing lists and list items on the same level. In the current navigation, this confused me several times (albeit with nets, not gates):

![Bildschirmfoto von 2019-07-20 23-56-56](https://user-images.githubusercontent.com/10632547/61584561-19c85600-ab4a-11e9-9a47-fdd7f75628c4.png)

Here, if you do not look closely, "N2" seems

[2019-07-25 20:50] RenWal opened #171 "Python files are marked as saved when the netlist is saved"
**Describe the bug**
When saving a netlist as .hal file, all open python editors with pending changes are marked saved. This is only partially correct: When the HAL file is saved, the unsaved Python files are included, so no work is lost. However, the actual Python files are not saved individually.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any netlist
2. Open a .py file in the pyt

[2019-07-25 20:52] dertob commented on #171
I think we need to discuss when an asterisk has to be added to the tab or define what the asterisk actually means. Usally it means there are unsaved changes. Save the .hal and it's technically saved. In my opinion the whole system how py script are saved and associated with the .hal file is the cause of confusion here.

[2019-07-25 21:15] steffenbecker commented on #164
I like the idea of the context menu since it seems to be the more intuitive approach compared to other UIs.

[2019-07-25 21:22] Slowpoke42 commented on #171
I think python scripts should only be written to their individual source files. I do not know of any other editor that saves opened files twice, once in the actual file and once in some kind of project file (excluding temporary backups). Seems unnatural and overcomplicated to me.

The only benefit of the current system seems to be that the python scripts are still available if you move or delete (

[2019-07-25 23:00] RenWal commented on #171
I have previously suggested splitting this saving mechanism between never saved files and modified files. The first ones go into the HAL file. The second only go to their script file, but HAL remembers their path in the HAL file. Thus, unsaved files are not lost and external modifications of scripts while HAL is closed don't collide with what is saved in the HAL file. If the user deletes the scrip

[2019-07-30 16:01] nils1603 opened #174 "data_container doesn't allow empty values to be added"
Apparently it can happen, that there are empty strings, which our data_container doesn't allow adding.

[code]

How shall we handle that cause that's a nice check for 99% of the times...

[2019-08-02 06:53] nils1603 commented on #174
Fixed in latest commit.

[2019-08-02 06:53] #174 closed

[2019-08-02 06:54] nils1603 commented on #169
Fixed

[2019-08-02 06:54] #169 closed

[2019-08-02 06:54] nils1603 commented on #168
Fixed

[2019-08-02 06:54] #168 closed

[2019-08-06 10:51] nils1603 opened #179 "Reading Verilog Netlists from Yosys"
There are still some bugs when reading netlists outputted by Yosys...
[netlist.v.zip](https://github.com/emsec/hal/files/3471783/netlist.v.zip)

[2019-08-07 13:46] RenWal commented on #124
I think this is happening in this piece of code:
https://github.com/emsec/hal/blob/777a911ad2a0d11dc4c5b983812d6e5ea6a5a478/src/hdl_parser/hdl_parser_vhdl.cpp#L437
The code expects either a generic map or port map and sets `pos` accordingly. If neither map exists, then `type.substr(pos)` with pos=MAX_INT is called, causing substr to abort.

Minimal example for the crash:
[code]

[2019-08-15 11:01] #179 closed

[2019-08-15 11:33] devhoffmann commented on #156
Now merged into the master and used as a default.
The old parser is still available using the ´--language vhdl_old´ switch

[2019-08-15 15:08] #156 closed

[2019-08-22 16:38] ChuTriel commented on #163
Update:
Implemented: Logging of the most important python functions.
Left to do: Logging of the "top-level" widget the user currently has focus on. (low priority.)

[2019-08-23 14:25] FabianAlbertRub opened #184 "Testing report: Issues in src/netlist/hdl_parser/hdl_parser_verilog.cpp"
Here are some issues I found while testing the verilog parser.
If you wish to split the work on these ones, just tell me and I can seperate them in different threads. Moreover I'm not 100% sure, if all of the following issues are correct (especially the last two), since I'm not very familliar with verilog.

#### Issues in src/netlist/hdl_parser/hdl_parser_verilog.cpp:

-----------
#### 1)
global i

[2019-09-26 14:16] swallat commented on #5
Will be fixed in 707c83e

[2019-09-26 14:16] #5 closed

[2019-09-29 13:53] RenWal opened #186 "Graph view does not update when moving one or more gates to an existing module"
**Describe the bug**
On branch integrate-new-graph-features, when right-clicking on a gate or a selection of gates, the user can move the gate(s) to a new or existing module. The latter does not update the view.

**To Reproduce**
Steps to reproduce the behavior:
1. open a netlist
2. create a module under the top module
2. in the graph view, enter the top module
3. right-click on a gate or a select

[2019-09-29 19:42] RenWal commented on #164
Closed in 16bf5f9

[2019-09-29 19:42] #164 closed

[2019-09-30 12:46] swallat commented on #186
@RenWal How do you create the module? Via the python interface?

[2019-09-30 13:11] RenWal commented on #186
You can do it that way. In my previous observation it does not make any difference whether you create the module via Python or the GUI.

[code]

[2019-09-30 19:02] RenWal commented on #186
Confirmed fixed in integrate-new-graph-features.

[2019-09-30 19:02] #186 closed

[2019-10-03 15:43] FabianAlbertRub opened #187 "Testing report: Issues in the verilog writer (src/hdl_writer/hdl_writer_verilog.cpp)"
Here are already some issues I found while testing the verilog writer (**src/hdl_writer/hdl_writer_verilog.cpp**). Some others may follow after the testing with the new verilog parser. Also there are some things that are up for discussion.

#### 1)

 At first some code pieces that can't be reached with any possible input (and could therefore be removed):

#### 1.1)
Equivalent to the vhdl writer is

[2019-10-03 16:40] FabianAlbertRub opened #188 "Testing Report: Issues in the new vhdl parser (src/hdl_parser/hdl_parser_vhdl.cpp)"
This report considers the new vhdl parser (not the old one).
Luckely, there were just some minor things I found (and I'm not even sure if they are correct).
Issues in (**src/hdl_parser/hdl_parser_vhdl.cpp**):

--------------------------
### 1)
It seems that the parser is somtimes very strict, regarding the usage of SPACE characters.

#### 1.1)
For example an entry `(0,2)` of a 2d logic vector, dec

[2019-10-06 18:16] RenWal opened #189 "Discussion: Things we need global settings for"
The settings page and internal management are now ready for integration into the UI. To complete integration, I need to know which components need what kind of settings. **GUI developers, please comment below if you need to add your settings to the settings page (name, type, default value, value limits if applicable).**

Currently, these settings are planned:

- GUI style (unchanged from the old s

[2019-10-07 16:49] Slowpoke42 commented on #189
I have already marked a few variables as stuff that should be configurable through the settings with comments. Apart from that I don't really have a comprehensive list but here are some ideas:

- Default directories for everything. Netlists, plugins, HAL files, log files, stylesheets, and so on
- Auto save and auto save time interval
- Keybinds should be fully configurable at some point.
- Default

[2019-10-27 19:03] RenWal opened #191 "Crash on gate removal via Python"
**Describe the bug**
Removing a gate via Python causes a segmentation fault. The `event_log::handle_submodule_event` callback is triggered by the `netlist_internal_manager` and attempts to access the gate by its ID. However, the gate's ID has already been deleted before the event is triggered:
https://github.com/emsec/hal/blob/25094f4e0d4befd52139851c8a164bd73d68bc9c/src/netlist/netlist_internal_m

[2019-10-27 19:07] RenWal commented on #191
[code]

[2019-11-03 21:03] RenWal opened #193 "Possible typo in synopsys decorator"
This line in `gate_decorator_bdd_synopsys` seems incorrect:
https://github.com/emsec/hal/blob/25094f4e0d4befd52139851c8a164bd73d68bc9c/plugins/gate_libraries/src/gate_decorator_bdd_synopsys.cpp#L94
Both sides of the OR statement are equal.

@swallat since you introduced this piece of code in 09f820a9bc0227daa87c2bfe2dde270c49009847, could you please check if the right side of this statement should

[2019-11-04 11:42] #191 closed

[2019-11-04 12:33] swallat commented on #193
@RenWal Actually the line was introduced by @devhoffmann before the transition to Github. @devhoffmann could you check that?

[2019-11-04 12:36] swallat commented on #67
@Slowpoke42 Is this still Work in Progress?

[2019-11-04 12:43] swallat commented on #86
@Slowpoke42 Is this still Work in Progress?

[2019-11-04 12:46] swallat opened #195 "Graph View Rewrite"
Include ...
- Cone View
- New Layouter
...

[2019-11-04 12:47] swallat commented on #87
Closed in favor of #195

[2019-11-04 12:47] #87 closed

[2019-11-04 12:47] swallat commented on #86
Closed in favor of #195

[2019-11-04 12:47] #86 closed

[2019-11-04 12:48] swallat commented on #67
Closed in favor of #195

[2019-11-04 12:48] devhoffmann commented on #193
Right literal should be `"AOI22X2"`, I will fix that

[2019-11-04 12:48] #193 closed

[2019-11-04 12:48] #67 closed

[2019-11-04 12:50] devhoffmann commented on #152
Closed as the discussion came to a conclusion.

[2019-11-04 12:50] #152 closed

[2019-11-04 12:51] swallat commented on #124
@RenWal @devhoffmann What is the state of this issue?

[2019-11-04 19:36] RenWal commented on #189
Implemented on _integrate-new-graph-features_ as of today:

- auto-save and interval
- keybinds for toolbars and menus (there are still some hard-coded keybinds that don't use QAction, I'll have to hunt them in the UI code at some point)
- Python editor options such as line wrap, highlight of current line, minimap default state, etc.
_____

If you want to introduce new keybinds on QActions, please

[2019-11-05 10:48] RenWal commented on #6
We have support for explicit gate placement since 9459da030672a7769d7d7a08e050efbcbcf9bd7c. Display of this data in the UI is work in progress. Is anybody working on updating the parsers?

[2019-11-05 10:50] devhoffmann commented on #6
As soon as we have more samples of netlists with placement information I will implement this feature.

[2019-11-06 19:35] todo[bot] opened #197 "Re-sort details widget when sort algo is switched"
https://github.com/emsec/hal/blob/6e95baf8bf083e6b70fa108f8468bcb9df293a2c/src/gui/selection_details_widget/tree_navigation/tree_module_model.cpp#L210-L215

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6e95baf8bf083e6b70fa108f8468bcb9df293a2c when #196 was merged. cc @emsec.

[2019-11-07 07:35] RenWal opened #198 "Keybind settings don't recognize "Command" on Mac"
**Describe the bug**
The keybind settings widget doesn't recognize the Command key on MacOS, so no keybinds with this key can be set up.

**Affects branch**
integrate-graph-features

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page
2. Select "Keyboard Shortcuts"
3. Attempt to set any keybind that contains the Command key
4. Nothing happens

**Expected behavior**
The key

[2019-11-07 07:46] RenWal commented on #109
Closed in #196

[2019-11-07 07:46] #109 closed

[2019-11-14 20:24] nils1603 opened #201 "Marked net is not continuously marked"
**Describe the bug**
Marked net is not continuously marked

**Expected behavior**
Net should be continuously marked

<img width="611" alt="Screenshot 2019-11-14 at 21 20 53" src="https://user-images.githubusercontent.com/13201750/68893275-196d4f80-0725-11ea-9c72-5a30c77951ae.png">

[2019-11-14 20:26] RenWal commented on #201
The underlying issue here is that nets are sometimes still rendered on top of each other.

[2019-11-14 20:30] nils1603 commented on #201
Yes, looks like. I just wanted to collect everything that I notice.

[2019-11-14 20:32] #201 closed

[2019-11-19 17:44] todo[bot] opened #205 "Consider these for moving into the core if they are useful"
https://github.com/emsec/hal/blob/7f8930444e7bedbfa91ba2ed7af2b1ed1dce2223/src/gui/gui_utils/netlist.cpp#L7-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7f8930444e7bedbfa91ba2ed7af2b1ed1dce2223 when #199 was merged. cc @emsec.

[2019-11-19 20:51] todo[bot] opened #209 "Deduplicate Module/Gate-to-ID loops"
https://github.com/emsec/hal/blob/9d213e5533fdcf9531cd66bb1d19027c5a769c52/src/gui/graph_widget/contexts/graph_context.cpp#L206-L211

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9d213e5533fdcf9531cd66bb1d19027c5a769c52 when #208 was merged. cc @emsec.

[2019-11-21 15:15] nils1603 opened #211 "Modules don't show number of gates properly"
Discussion needed:

I personally think that when you click on a module you should see the total number of gates in the module. If you click on a module right now and the module has "sub"modules it will show 0. We should fix that...

~~And the modules are not sorted like expected:
see screenshot~~ Split into #214
![Screenshot 2019-11-21 at 16 13 26](https://user-images.githubusercontent.com/1320175

[2019-11-26 10:41] RenWal opened #212 "Duplicate handling of module name changes"
There's an inconsistency in how we handle name changes of gates and modules. I'll explain the behavior for modules, but the same flow is executed for a gate name change as well.

When a module is renamed, the `netlist_relay` handler triggers:
https://github.com/emsec/hal/blob/42b93e5f8954276817efa476db78f1d5585b52dd/src/gui/netlist_relay/netlist_relay.cpp#L254-L264

That first causes the `graph_co

[2019-11-26 20:26] RenWal opened #214 "Module Widget doesn't provide a "natural sort oder" mode"
**Describe the bug**
Split from #211
Modules should be able to be sorted in natural order just like in the details widget since c933cd1.

**To Reproduce**
Steps to reproduce the behavior:
1. Open or create any netlist
2. Create several modules with numbers of different length in their name in the same parent
3. e.g. "module_11" will come after "module_100" but before "module_101"

**Expected behav

[2019-11-26 20:28] RenWal commented on #211
Now tracking the sort order problem in issue #214.
Splitting different problems into different issues helps us track progress and assignees.

[2019-12-02 18:09] RenWal commented on #212
Since I have not received any complaints during the last week, I will now go ahead and perform that change.

[2019-12-06 11:23] RenWal commented on #212
Closed in #215

[2019-12-06 11:23] #212 closed

[2019-12-10 13:33] devhoffmann commented on #135
Closed in HAL 2.0

[2019-12-10 13:33] #135 closed

[2019-12-10 14:08] devhoffmann commented on #211
This issue is solved in HAL 2.0

[2019-12-10 14:08] #211 closed

[2019-12-14 13:15] RenWal opened #217 "Warn user when closing settings page without saving"
**Is your feature request related to a problem? Please describe.**
I had a report about HAL not saving settings that turned out to be because the "OK" button at the bottom of the page wasn't clicked. Users might not see that button if the window is not fully on their screen, since that button is on the lower right corner. They might also simply not realize that the OK button must be clicked.

**De

[2019-12-15 21:18] RenWal opened #219 "Parsing .hal files containing empty modules crashes the deserializer"
**Describe the bug**
Whenever a .hal file contains an empty module, deserializing causes an assertion failure triggered in https://github.com/emsec/hal/blob/8f10a46132658cce24080bd518b040c928c37893/src/netlist/persistent/netlist_serializer.cpp#L334

When an empty module is serialized, the `gates` attribute is omitted. However, when deserializing, this attribute is accessed without checking its exi

[2019-12-17 15:33] RenWal opened #221 "In multi-monitor setup, the gate navigation popup appears off-screen in details widget"
**Describe the bug**
When clicking on an output pin in the gate details widget, a navigation popup appears if the output pin is connected to multiple gates. If you run a multi-monitor setup and the two screens don't share the same resolution, then Ubuntu will still create a rectangular desktop, meaning part of the desktop will be off-screen. HAL currently can't detect that, since it only reacts to

[2019-12-17 15:34] #219 closed

[2019-12-19 22:01] todo[bot] opened #223 "Navigation from and to modules is not implemented"
https://github.com/emsec/hal/blob/1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300/src/gui/graph_widget/graph_navigation_widget.cpp#L90-L95

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300 when #218 was merged. cc @emsec.

[2019-12-19 22:01] todo[bot] opened #224 "are these items ever deleted or is this a memory leak?"
https://github.com/emsec/hal/blob/1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300/src/gui/graph_widget/graph_navigation_widget.cpp#L156-L159

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300 when #218 was merged. cc @emsec.

[2019-12-19 22:01] todo[bot] opened #225 "is it OK to ignore the placement hint in this layouter?"
https://github.com/emsec/hal/blob/1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300/src/gui/graph_widget/layouters/physical_graph_layouter.cpp#L29-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300 when #218 was merged. cc @emsec.

[2019-12-19 22:02] todo[bot] opened #226 "In Graph View, scroll to gate/module selected in Details Widget"
https://github.com/emsec/hal/blob/1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300/src/gui/selection_details_widget/gate_details_widget.cpp#L543-L546

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1fe020bbaf41ff5e697ea6b7f0ca7f3d846e0300 when #218 was merged. cc @emsec.

[2019-12-20 13:42] RenWal commented on #214
Closed in HAL 2.0

[2019-12-20 13:42] #214 closed

[2019-12-21 11:00] #195 closed

[2019-12-27 14:06] #217 closed

[2019-12-31 11:49] XVilka opened #230 "Make a comparison with Degate"
There exist an alternative - [Degate](https://github.com/nitram2342/degate). Sadly, it's not actively maintained, but contained a lot of interesting ideas. It would be nice to have a comparison.

![image](https://user-images.githubusercontent.com/203261/71620781-bff2ae80-2c06-11ea-802e-cb31d33e5e30.png)

[2020-01-04 00:12] markusdd opened #231 "Is the name HAL safe to use?"
Hi, professional hardware designer here.

I followed the talk at CCC with great interest, but once I heard the name of the tool I immidiately
thought about work. Cadence Design Systems uses HAL as the Trademark name for their HDL Analyzer Tool as part of Incisive and Xcelium RTL/netlist simulator suites. It is a Linter which is used to uncover structural problems in the design like clock domain cr

[2020-01-04 12:03] devhoffmann commented on #231
Thank you for pointing out! We will take a look at this with our team

[2020-01-06 08:04] swallat commented on #231
Thank you for the notification. As @devhoffmann said, we will discuss that with our team and try to resolve this issue.

[2020-01-06 08:09] swallat commented on #230
Thanks for the comment. In general, it might be a good idea to point out other projects, and explain where HAL fits in there.

[2020-01-06 11:11] devhoffmann commented on #231
I checked the german and european trademark register and could not find an entry for HAL that targets any kind of software.
From my understanding, it should therefore be safe to use the name HAL.

[2020-01-06 12:13] swallat commented on #231
@devhoffmann I agree, I couldn't find anything either. I suggest we close the issue for now and reopen it if we run into any trouble.

[2020-01-06 12:13] #231 closed

[2020-01-08 18:08] RenWal commented on #197
Fixed in 5549a56381b4514d391fda9ce92513bd6c28cd4e

[2020-01-08 18:15] RenWal commented on #223
Need some input here: Do we want to implement navigation to and from modules?

I would like to see this feature since disallowing navigation from modules causes inconsistent user experience. The user won't expect that the arrow keys just do nothing when a module is selected.

If we implement this, will we allow navigation into a module by opening another context? Right now, navigating to a module

[2020-01-08 18:24] RenWal commented on #134
@FabianAlbertRub can you please check if this issue persists on any build after commit 47953bfea4fba58cb51dd534dc833cc9916206c5 "plugin system rewrite"? I currently can't reproduce the issue.

[2020-01-09 15:27] FabianAlbertRub commented on #134
You are right, the plugin manager does not crash anymore. However, it can't reload plugins with cli-options, since they are considered to be already used by another plugin.
In have just updated my tests for the plugin manager in the branch "tests" (parallel to master), where you can see the issue I described.

[2020-01-12 22:18] RenWal commented on #197
Closed in #232

[2020-01-12 22:18] #197 closed

[2020-02-14 10:11] RenWal commented on #124
I can't reproduce this issue anymore and assume it has been fixed as a side-effect of restructuring the VHDL parser. @swallat do you happen to still have the netlist that caused the crash back when you reported this? If so, do you mind re-testing against the current master?

[2020-03-11 21:05] RenWal opened #255 "Graph algorithms not yet compatible with multi-driven nets"
**Describe the bug**
The `graph_algorithm` plugin makes several references to `net::get_source()`, which is deprecated and superseded by `net::get_sources()`. This will break functionality if multi-driven nets are encountered in the netlist.

**Expected behavior**
The plugin should be fully compatible with multi-driven nets.

(Documenting this here since I believe we never talked about this intern

[2020-03-20 14:54] RenWal opened #261 "Importing hal_gui breaks graph shaders"
**Describe the bug**
After running `import hal_gui`, the gates in the graph lose their text and selection color. Nets lose their selection color and pins are no longer rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any netlist
2. Type `import hal_gui` or `from hal_gui import gui` into the Python console or the Python editor and execute
3. Click on any gate or module

**Expect

[2020-03-20 14:57] RenWal opened #262 "Importing hal_gui crashes HAL during closing sequence"
**Describe the bug**
After importing `hal_gui`, the GUI reproducibly crashes in the python context destructor.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any netlist
2. Type `import hal_gui` or `from hal_gui import gui` into the Python console or the Python editor and execute
3. Close the GUI window
4. HAL crashes

**Expected behavior**
HAL must not crash.

**Additional context**
C

[2020-03-20 14:58] RenWal commented on #262
@dertob

[2020-03-20 14:58] RenWal commented on #261
@dertob
@Slowpoke42

[2020-03-20 16:07] #261 closed

[2020-03-20 16:07] #262 closed

[2020-03-20 16:08] RenWal commented on #261
Turned out to be some dependency issue on my side, sorry

[2020-05-07 07:46] #221 closed

[2020-06-14 14:20] RenWal opened #269 "Inconsistency: resolving pins from nets, resolving nets from ports"
**Is your feature request related to a problem? Please describe.**
We can get the fan in net from a gate, given a pin (but not the other way around). However, we can't get the net from a module, given a port (only the other way around). This is inconsistent.

**Describe the solution you'd like**
We should have a way to resolve pins<->nets and ports<->nets in both directions.

**Additional context*

[2020-06-18 11:48] SJulianS commented on #269
I've added the requested functionality in our developer branch.

[2020-06-18 11:48] #269 closed

[2020-07-15 12:37] nils1603 commented on #261
![](https://github.trello.services/images/mini-trello-icon.png) [View Manager](https://trello.com/c/2RZjVQbB/11-view-manager)

[2020-10-15 14:34] #188 closed

[2020-10-15 14:35] #187 closed

[2020-10-15 14:36] #184 closed

[2020-10-15 14:37] #124 closed

[2020-10-15 14:37] #6 closed

[2020-10-15 14:38] SJulianS commented on #4
currently out of scope, might come back to it later

[2020-10-15 14:38] #4 closed

[2020-11-30 17:53] not-a-trojan commented on #134
@RenWal @FabianAlbertRub any update here?
iirc this is already fixed since a few months

[2021-01-22 12:46] todo[bot] opened #374 "remove this is only for debugging"
https://github.com/emsec/hal/blob/ebc7ca48388d9ec0c3fb09cf2298c6d1f4318a67/plugins/z3_utils/src/converter/converter.cpp#L245-L250

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ebc7ca48388d9ec0c3fb09cf2298c6d1f4318a67 when #372 was merged. cc @emsec.

[2021-02-22 23:41] ichthys101 opened #382 "Add support for pg_type nwell/pwell (context: for NanGate 15nm)"
Thanks for your work on this tool. It's very cool!

**Is your feature request related to a problem? Please describe.**
I tried to load the NanGate 15nm liberty file, but the parser doesn't like nwell/pwell types for pg_pin

**Describe the solution you'd like**
Add support for these pin types. Are the pg_pins used for any type of analysis right now?

**Describe alternatives you've considered**
Mayb

[2021-04-21 12:13] dahooz opened #390 "Building Hal on Ubuntu 18.04"
**Describe the bug**
Building Hal on Ubuntu 18.04 fails

## First error: missing `git describe`

**To Reproduce**
1. build as per documentation

**Expected behavior**
cmake running

**Observed behaviour**
cmake fails:

<details><summary>Error message</summary>

[code]
</details>

**Workaround**
Define all the necessary variables with some dummy values:
[code]

To fix this properly, you would proba

[2021-04-23 11:52] #205 closed

[2021-04-23 11:52] #209 closed

[2021-04-23 11:52] #223 closed

[2021-04-23 11:52] #224 closed

[2021-04-23 11:52] #225 closed

[2021-04-23 11:52] #226 closed

[2021-04-23 11:52] #374 closed

[2021-04-23 14:52] dahooz commented on #390
## Fourth error ([since a very recent merge of the module dialog branch](https://github.com/emsec/hal/commit/0700e89a3514e12ce8d6581fe416d74417fce092)):

**Expected behavior**
make running

**Observed behaviour**
make fails:

<details><summary>Error message</summary>

[code]
</details>

Explanation: qt5 ubuntu 18 is version [`5.9.5`](https://packages.ubuntu.com/bionic/qt5-default), while ubuntu 20

[2021-04-23 21:25] SJulianS commented on #382
Sorry for the late reply, I've just fixed the issue today and verified the fix with the respective liberty file. All pg_pins that HAL cannot deal with will continue to throw a warning, but the gate library will be parsed nonetheless and may subsequently be used within HAL. Thanks for the report!

[2021-04-23 21:25] #382 closed

[2021-04-25 09:37] joern274 commented on #390
Current hal (master) software has been developed and compiled against libraries shipped with Ubuntu 20.04 distribution. A lot of required functionality was not yet available in  Ubuntu 18.04.

However - I created a branch branch **_backport/ubuntu_18_04_**  with a lot of code fixes so that hal compiles and runs on Ubuntu 18.04. once the required dependencies are installed. Disclaimer:
- z3 functio

[2021-06-15 11:31] #161 closed

[2021-06-15 11:32] #125 closed

[2021-06-15 11:33] #166 closed

[2021-06-15 11:33] #230 closed

[2021-10-14 09:26] RenWal opened #432 "FindPythonInterp is deprecated, use FindPython3 instead [fixed in new HAL version 4.0]"
The following line causes a cmake failure on my Ubuntu 20.04 machine:
https://github.com/emsec/hal/blob/5e004f6010a9e690b56fe02b54f38a970f8fa5f9/cmake/detect_dependencies.cmake#L148

"Dual stack" python installs, i.e. having both python2 and python3 installed, will trigger this if the system's default python points to python2.

For this reason, as of cmake 3.12, FindPython3 should be used instead

[2021-10-14 09:56] RenWal commented on #432
(The same goes for `deps/pybind11` which still has the deprecated CMakeLists)

[2021-11-26 20:56] suzizecat commented on #432
As someone who just had the issue, one can work around this by using the cmake option
[code]

[2021-11-26 21:23] suzizecat opened #441 "HAL Fails to parse SKY130 standard cell liberty files"
**Describe the bug**
Trying to open a .lib file from SKY130 PDK (https://github.com/google/skywater-pdk) fails with the following log in terminal.
For information the exact file is [sky130_fd_sc_ls__tt_100C_1v80.lib (zipped)](https://github.com/emsec/hal/files/7610702/sky130_fd_sc_ls__tt_100C_1v80.zip)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open HAL
2. Drop, once dezipped,

[2021-11-29 10:04] RenWal opened #442 "Crash when removing last item from view"
**Describe the bug**
When the last item is removed from a view, HAL crashes.

**To Reproduce**
Steps to reproduce the behavior:

either:
1. right-click on the folded `top_module`
2. select "Remove from view"

or:
1. navigate into the `top_module`
2. right-click on any gate
3. select "Isolate in new view"
4. right-click on the single gate in the isolated view
5. select "Remove from view"

**Expecte

[2021-12-01 13:30] SJulianS commented on #441
Thanks for the report! I just pushed a fix for this issue, at least on my machine HAL can now parse the file you provided. Please check again using the current master.

[2021-12-01 13:41] nils1603 commented on #432
@RenWal could you prepare a Pull Request?

[2021-12-01 13:43] #390 closed

[2021-12-01 19:43] suzizecat commented on #441
Thanks for the fix. However, it seems that you're not quite there yet.
On 4c1b66657c69ef14da288f539e11081609451f8e have:
[code]

So it looks like you have properly read the file but at the end the parser is not registered for further processing or something.

[2021-12-04 09:42] SJulianS commented on #441
It looks like you are trying to open a liberty gate library file as a netlist:
`[01.12.2021 20:37:30] [netlist_parser] [error] [/mnt/ramdisk/hal/src/netlist/netlist_parser/netlist_parser_manager.cpp:34] no hdl parser registered for file type '.lib'`

Please try again with a Verilog or VHDL netlist synthesized for the SKY130 PDK. HAL will automatically select the appropriate gate library if it is p

[2021-12-04 09:48] RenWal commented on #432
Can someone from your team point out whether there's anything that prevents updating pybind to a version that doesn't use deprecated CMake?

[2021-12-05 22:00] suzizecat commented on #441
Oooh ! That was indeed what i've done, since the pdk wasn't available in HAL, though that I needed to open the .lib to "convert it" to HAL format.
I will try your flow which should indeed work way better.

[2021-12-06 09:40] #441 closed

[2021-12-09 13:23] #442 closed

[2021-12-20 09:10] #163 closed

[2021-12-20 09:11] #189 closed

[2022-01-10 10:53] nils1603 commented on #432
The pybind version has been updated to 2.9. We also fixed the python3 include if both python2.7 and python3 are installed. This will be merged into the master with the new HAL v4.0

https://github.com/emsec/hal/tree/v4.0.0

[2022-01-25 17:22] C0D3D3V opened #446 "grammar.h is missing in Python 3.10"
**Describe the bug**
I just want to note here that with python 3.10 the project cannot be built anymore, because the grammar.h including the parser module has been removed.

See https://docs.python.org/3/whatsnew/3.10.html#removed

**To Reproduce**
1. `mkdir build && cd build`
2. `cmake ..  -DHAL_STUDY=0 -DBUILD_ALL_PLUGINS=1 -DCMAKE_INSTALL_PREFIX=/usr -GNinja`
3. `ninja`

The error message looks

[2022-03-02 21:52] jarvis-lorry opened #452 "Cannot compile hal, 'make' errors out"
I'm trying to compile hal on Ubuntu 20.04.4 and I've gotten cmake to work but I when I run 'make', it errors out.  I don't understand the error.

Here is the output from make:

---@----vb:~/hal/build$ make
[  0%] Building CXX object src/utilities/CMakeFiles/utilities.dir/hal_file_manager.cpp.o
[  0%] Building CXX object src/utilities/CMakeFiles/utilities.dir/log.cpp.o
[  0%] Building CXX object sr

[2022-03-02 23:19] nils1603 commented on #452
Hey @jarvis-lorry,

we are currently facing some version deprecations with some dependencies. HAL has not been updated to the most recent version of spdlog, which will happen with the new release.

You can either try the new v4.0.0 dev branch, but beware, there are many many many many many many things not working yet.

For now you can remove spdlog from your system (`sudo apt remove libspdlog-dev`

[2022-03-03 20:23] nils1603 commented on #452
Don't execute the install_dependencies again AFTER you deleted spdlog. You only need to execute the install dependencies script once.

[2022-03-03 20:53] jarvis-lorry commented on #452
I've tried what you suggested but still have the same error when I run 'make'.  This after I've removed spdlog.  I may have to try the development version, v4.0.0 dev.

[2022-03-07 23:31] nils1603 commented on #452
I made some updates to the build process on the master. Let me know if this helps.

[2022-03-07 23:41] jarvis-lorry commented on #452
Should I use the latest commit?

[2022-03-08 12:35] nils1603 commented on #452
Yes, use the latest commit on the master branch, so basically just pull and try again

[2022-03-09 22:28] jarvis-lorry commented on #452
Hi, I've been able to build HAL successfully and run it.  Now I have to learn how to use it.

[2022-03-10 21:58] SJulianS commented on #452
I'd recommend getting started with our Wiki: https://github.com/emsec/hal/wiki. In case you get stuck and need help, feel free to drop us a mail: hal@csp.mpg.de. HAL is still merely developed by researchers and we are always short on time, but we'll try to help as good as we possibly can.

[2022-03-11 22:45] jarvis-lorry opened #453 "It looks like you are trying to open a liberty gate library file as a netlist:"
It looks like you are trying to open a liberty gate library file as a netlist:
`[01.12.2021 20:37:30] [netlist_parser] [error] [/mnt/ramdisk/hal/src/netlist/netlist_parser/netlist_parser_manager.cpp:34] no hdl parser registered for file type '.lib'`

Please try again with a Verilog or VHDL netlist synthesized for the SKY130 PDK. HAL will automatically select the appropriate gate library if it is p

[2022-03-11 22:57] jarvis-lorry commented on #453
I'm trying to load the sky130 pdk liberty file just like suzizecat but the procedure you've described doesn't work for me.  I've copied sky130_fd_sc_hd__tt_025C_1v80.lib into hal/build/share/hal/gate_libraries/ and can see this file in Gate Library Manager but when I open a netlitst called heartbeat compiled from this library, HAL gives me an error: Unable to find a compatible gate library. Deseri

[2022-04-29 05:20] reillymck opened #459 "Verilog Parser occasionally incorrectly parses signal names"
It seems that occasionally the verilog parser does not properly parse escaped identifiers. It appears to happen specifically when the escaped identifier is used as in i/o when instantiating a module. The problem is made noticeable when a double slash, "//", is in the escaped signal name.

For example:
[code]

The signal \or1200_cfgr//i__n_0 is parsed incorrectly. The "//" is interpreted by the par

[2022-04-29 05:21] reillymck commented on #459
[or1200.txt](https://github.com/emsec/hal/files/8588285/or1200.txt)

[2022-05-02 14:03] SJulianS commented on #459
thanks for the report, this is now fixed within the v4.0.0 branch

[2022-05-02 14:03] #459 closed

[2022-05-05 15:58] RenWal opened #462 "Crash in python console when scrolling back through empty history"
**Describe the bug**
When the console history is empty, pressing the `Up` arrow key crashes HAL.

**To Reproduce**
Steps to reproduce the behavior:
1. Install HAL clean (no user data)
2. Click into the Python console
3. Type something (but don't hit `Enter`)
4. Press `Up`
5. Crash

**Expected behavior**
HAL should not crash, by properly checking if the history is empty before attempting a lookup.

[2022-05-10 13:17] #462 closed, assigned to RenWal

[2022-08-10 03:35] DaShaCHun123 opened #468 "Can "Hal" be compiled on "CentOS"?"
Hello, is there a more specific source code compilation method?
 I want to compile on X86 or CentOS or arm systems，
Please give guidance。
![image](https://user-images.githubusercontent.com/105276615/183806841-d8fe00a3-d832-4dc3-80e4-5d1f0449fe46.png)

[2022-08-10 07:40] #468 closed

[2022-08-10 07:43] DaShaCHun123 opened #469 "Can "Hal" be compiled on "CentOS"?"
Hello, is there a more specific source code compilation method?
I want to compile on X86 or CentOS or arm systems，
Please give guidance。
![image](https://user-images.githubusercontent.com/105276615/183843914-3d49885b-8f70-451d-9a95-3f073f146215.png)

[2022-08-10 08:00] nils1603 commented on #469
Sadly we support only Ubuntu 20.04, as we don't have the time to maintain more Unix flavours.

[2022-08-10 08:00] #469 closed

[2022-08-26 10:16] RenWal commented on #446
Should be fixed by #463

[2022-08-26 10:16] #446 closed

[2022-08-26 11:17] #171 closed

[2022-08-26 11:28] #142 closed

[2022-08-26 11:31] #134 closed

[2022-09-02 08:50] joern274 commented on #198
Keyboard shortcuts with Command Key tested on Macmini both with PC and Magic Keyboard. Shortcut assignment works as expected, described problem cannot be reproduced.

[2022-09-02 08:50] #198 closed

[2022-10-02 11:23] Guttybitty opened #472 "Issue while launching HAL"
After install HAL, when hal -g or any command is run, it is giving following error.

hal: error while loading shared libraries: libhal_plugin_system.so: cannot open shared object file: No such file or directory
I have attached logs while installation. Please let me know what the issue is.
[log.txt](https://github.com/emsec/hal/files/9692340/log.txt)

[2022-10-05 19:02] joern274 commented on #472
Thanks for submitting the log.

I noticed that (after successfully building hal in build directory) the first attempt to launch hal was made by typing **hal -g**. Please try **bin/hal -g** instead and hal should start immediately in GUI mode.

I will look into the install problem but it might take some time.

[2022-10-07 00:54] tanvir-jewel opened #473 "HAL installing issues"
[code]
I am facing this issues while trying to build it with cmake. What would be the possible solution for this?

[2022-10-07 20:05] joern274 commented on #473
While the reason for failed installation seems to be obvious (missing IGRAPH header and library) some more information is needed to reproduce the problem.
1. Operation system distribution and version (Ubuntu?)
2. Did you run the install_dependencies.sh script?
3. Any error messages while running the script above?
To solve the installation problem it might be good enough to install the developer ve

[2022-10-14 22:26] thud06 commented on #472
Hello, I am experiencing the same issue. bin/hal -g does not seem to work for me either.

[2022-10-15 08:03] joern274 commented on #472
@thud06 please provide a log file like Guttybitty did to verify that the build process completed successfully or to narrow down problems during build. What was the response to bin/hal -g  ? What Operating system, distribution, and version are you using?

[2022-10-17 00:53] thud06 commented on #472
@joern274 Here is the log file:

[code]

I am using Ubuntu 20.04.5 LTS. I am using HAL version 3.3.0.

When I use bin/hal -g, I get the error

[bin/hal -g](bash: bin/hal: No such file or directory)

Thanks

[2022-10-17 07:08] joern274 commented on #472
@thud06 from the information you provided we learn that most likely the hal build failed. Unfortunately does your log file not cover step 1.-5. from (["Building Hal"](https://github.com/emsec/hal/wiki/Building-HAL)). Can you run the build process again and send its output, please? Thanks.

[2022-10-17 15:52] RenWal commented on #432
This has been merged, closing.

[2022-10-17 15:52] #432 closed

[2022-10-17 16:36] joern274 commented on #102
Fix merged into master

[2022-10-17 16:36] #102 closed

[2022-10-17 16:37] joern274 commented on #101
Merged into master

[2022-10-17 16:37] #101 closed

[2022-10-17 16:39] joern274 commented on #473
@tanvir-jewel have you been able to solve your problem? I would like to close this issue unless you could provide little more information.

[2022-10-18 01:54] thud06 commented on #472
@joern274 I tried a fresh install, and the hal -g command still gave the same error. Here are the last few lines after running make

[code]

For the cmake step, I did not add any options, just ran it as "cmake .." Could this be the issue? If so, what should I add to it?

Thanks

[2022-10-18 07:58] joern274 commented on #472
@thud06 Although the log does not cover the entire build process it ends with 100%, these are good news. Next I would expect the command **bin/hal -g** as the executable is supposed to be located in the **bin** directory.

- can you verify that the **bin** directory was created?
- can you list the content of that directory?

Running **cmake ..** without any options is fine to get hal up and runnin

[2022-10-18 16:24] #472 closed

[2022-10-20 14:22] leongross opened #477 "Segmentation fault when creating new netlist from GUI"
**Describe the bug**
When creating a new netlist form the GUI, a segmentation fault occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Open hal gui `./hal -g`
2. Press `Ctrl+n` to create a new netlist

**Expected behavior**
A new netlist creator should appear

**Desktop (please complete the following information):**
- Operating system: `Ubuntu 22.04`
- Kernel: `5.15.0-52-generic`
- HAL

[2022-10-20 15:45] RenWal commented on #477
Looks like the gate libraries aren't loaded before showing that dialog. I think this was introduced in c78aac094fa89cd953746a12e9f563bae5c89f7a in the process of moving to our new project manager and import system.

While we work on a full solution, I've prepared a hotfix in [branch fix/create-netlist-no-libraries](https://github.com/emsec/hal/tree/fix/create-netlist-no-libraries).

Looking at the

[2022-10-20 16:07] RenWal commented on #477
Stumbled upon a few more things:

- netlists opened this way can't be closed (nothing happens)
- the "save" button is clickable but does nothing, the same goes for the keybind
- simulator temp files end up in the working directory (we call `ProjectManager::instance()->get_project_directory()` without checking whether a project is currently open, not sure if that is OK)
- the log isn't saved

We ca

[2022-10-21 19:48] joern274 commented on #477
Please check whether issue has been fixed by now.

[2022-10-24 14:43] RenWal commented on #477
Not crashing anymore, and I like the new dialog.

One minor thing, and certainly personal preference: Would it make sense to only allow the user to proceed after selecting a gate library? Right now, if you don't select one, you can still confirm the dialog and then you receive an error message.

[2022-10-24 16:28] RenWal opened #480 "Several crashes related to inaccessible files"
While testing the new netlist import logic, I've found some bugs related to handling files that are not accessible when reading or writing.

- [x] When attempting to create a project at a location that HAL can't write to (read-only, or permission denied), HAL crashes.
- [x] When a project directory disappears while HAL is running, HAL crashes when attempting to (auto-)save the project. This one mi

[2022-10-25 08:43] joern274 commented on #477
Good point and easy to accomplish

[2022-10-25 08:58] joern274 commented on #480
@RenWal thanks for thorough testing and reporting all the bugs. However, TMHO we will stick to the strategy that project directories in HAL must not have a suffix and any given suffix will be chopped. The suffix (or not having a suffix) is used by project management tools as well as in Qt::QFileDialog to differentiate and filter between files we can import (.vhdl, .v, .hal) and projects we might b

[2022-10-25 17:07] thud06 opened #481 "Can not read ISCAS 85 Benchmarks"
I am trying to analyze the ISCAS 85 benchmarks particularly c432.v, and am receiving the error :

[code]

I've tried making my own library, but I am still receiving the same error.

The c432.v file is:

[code]

- OS: Ubuntu 20.01
- Version hal 3.3.0

[2022-10-26 14:50] thud06 commented on #481
@SJulianS I am looking forward to this addition. Also thanks for the hard work you are putting into the project !

[2022-10-29 22:14] SJulianS commented on #481
Please check again with branch [branch feature/parser_update](https://github.com/emsec/hal/tree/feature/parser_update), that should do the trick. If netlist instantiation still fails, please provide the respective gate library as well :)

[2022-10-31 16:17] #481 closed

[2022-11-01 00:37] thud06 commented on #481
Hello, I cant seem to find the branch in https://github.com/emsec/hal/branches/active, And for some reason your posted link isn't working

[2022-11-02 08:39] #477 closed

[2022-11-02 08:44] #473 closed

[2022-11-05 20:51] RenWal commented on #481
The branch has been deleted in the meantime, since #483 has been merged. Please test the current master.

[2022-11-09 15:10] joern274 commented on #480
According to previous comment project directories with suffix in name will not be supported. Fix to "Putting a file suffix on a project directory ..." : HAL will tell user immediately that project cannot be opened because of suffix. No more crashes :+1:

[2022-11-09 19:51] thud06 opened #485 "Could not create pin 'G0' for module 'top_module' with ID 1:"
I am trying to load the ISCAS 89 Benchmarks.  I am receiving the error:

`[/home/user/Desktop/HAL/hal/src/netlist/module.cpp:816] could not create pin 'G0' for module 'top_module' with ID 1: net 'G0' with ID 5 is neither an input nor an output`

The s27.v benchmark is shown below:

[code]

I was wondering what the fix for this would be ?

Thanks

[2022-11-10 19:50] joern274 commented on #485
@thud06 : Although you did not mention which gate library you are using I am guessing it was **lsi_10k** since I can reproduce your error message when I try to parse the netlist above with that one.

The point is that the pin order in your netlist does not match the pin order given in the gate library. The solution would be to adjust the pin order in either of the two.

Adjusting the netlist would

[2022-11-17 15:59] RenWal commented on #480
Nice! Did some tests and found two minor remaining issues, I think all other points are well addressed now.

Test results:

- Regarding point 4: importing a netlist into a new project directory called `foo.bar` will result in the project actually being saved to `foo`, but `foo.bar` is inserted into the recent files overview (and immediately declared missing). To be consistent, we should also rejec

[2022-11-18 10:19] joern274 commented on #480
@RenWal thanks for testing.

Fixed "Regarding point 4" by disallowing suffix in chosen project name as suggested.

"Regarding point 7": Although it is understandable that users want to have more explicit hints how to deal with errors we should stick to the standard procedures, icons and buttons the system is providing. The layout of the buttons in the screen shot above is the result of using Qt st

[2022-11-18 12:30] RenWal commented on #480
I'm with you on keeping the standard buttons. Still, it would not have been clear to me (without looking into the source code) what the difference between Discard and Cancel is – especially, I would not have expected recording to continue after clicking Cancel (though I think it's a good idea to have that option).

Would it be an option to put some remark into the dialog text, and then keep the bu

[2022-11-27 13:09] leongross opened #490 "error: cannot convert ‘igraph_matrix_t*’ to ‘igraph_matrix_int_t*"
**Describe the bug**
Compiling hal with all it's plugins fails when compiling the `communities_fast_greedy` plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/emsec/hal.git && cd hal`
1. `./install_dependencies.sh`
1. `mkdir build && cd build`
1. `cmake -DBUILD_ALL_PLUGINS=1 ..`
1. `make`

**Error log**
[code]

**Expected behavior**
The plugin should compil

[2022-11-27 19:25] RenWal commented on #490
related https://github.com/emsec/hal/pull/487

[2022-11-28 10:53] joern274 commented on #490
@leongross : Although @RenWal is right pointing out that future integration of IGRAPH into HAL is still disputed and on our todo list - however - the problem you mentioned should disappear if you compile and link HAL against IGRAPH version <= 0.9.x. From the error message you reported I guess that you have IGRAPH >= 0.10 installed on your system. That is where a major API break took place.

An IGR

[2022-11-28 10:56] #485 closed

[2022-11-28 13:16] szhorvat commented on #490
In case it helps, you can track which igraph version various package managers have: https://repology.org/project/igraph/versions

[2022-11-29 22:34] leongross commented on #490
Thanks for the answer. Yes, this seems to be an issue with `igraph`.

I use Arch Linux which is (kind of?) supported, at least there is an entry in the dependency installer. In PR #493 I updated the dependency installer script to downgrade the `igraph` version.